* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Saira;
  src: url(Saira.ttf);
}

.header-content {
  background-color: rgb(191, 184, 184);
  height: 57px;
}

.nav {
  display: flex;
  justify-content: space-between;

  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-link {
  text-decoration: none;
}

.logo {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  font-family: "Saira";
  line-height: 57px;
  opacity: 0.7;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 64px;

  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-menu-item {
  font-size: 16px;
  line-height: 57px;
  font-family: "Saira";
}

.title-hero {
  position: absolute;
  width: 888px;
  height: 154px;
  left: 276px;
  top: 225px;
}

#title-section {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;
}

.subtitle-section {
  position: absolute;
  width: 627px;
  height: 60px;
  left: 414px;
  top: 380px;
}

#subtitle {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
}