* {
  margin: 0;
  box-sizing: border-box;
}

.header-content {
  background-color: rgb(214, 205, 205);
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-size: 36px;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
}